<div
class="md:h-50 relative mx-[24px] mt-auto h-[367px] overflow-hidden rounded-[20px] bg-blue-500 md:mx-[85px] md:mt-5"
>
<div class="p-7.5 gap-3.75 flex flex-col items-start">
  <h2
    class="mb-3.75 block text-3xl font-semibold leading-none text-white"
  >
    Nos promotions<br />
    à la une
  </h2>
  <a class="btn-tertiary hover:bg-red-400 hover:text-white z-[1]">
    Découvrir

    <svg
      width="10"
      height="12"
      viewBox="0 0 10 12"
      fill="none"
      aria-hidden="true"
      class="stroke-current"
    >
      <path
        d="M1 3.00293H9M9 3.00293V11.0029M9 3.00293L1 11.0029"
        stroke-width="2"
        stroke-linejoin="round"
      ></path>
    </svg>
  </a>
</div>

<img
  class="absolute bottom-0 right-0 object-cover md:h-[200px] md:w-[290px]"
  src="img/visuel-promo.png"
  alt=""
/>
</div>