<div class='group/sub-3 block w-full px-10 py-[5px] pr-10 mb-1'>
  <span class='flex w-full justify-between'>
    <a href="category-1.html" class='transition duration-150 group-hover/sub-3:translate-x-2.5 hover:text-red-400'>
      {{value}}
    </a>

    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" viewBox="0 0 19 12" class='w-[19px] stroke-red-400 hidden group-hover/sub-3:block'>
      <path d="M13.103 1.45752L17.8651 6.00298M17.8651 6.00298L13.1031 10.5484M17.8651 6.00298H0.5" stroke-width="2" stroke-linejoin="round"/>
    </svg>
    <svg viewBox='0 0 17 12' class='w-[17px] stroke-current block group-hover/sub-3:hidden' aria-hidden='true'>
      <path
        d='M11.103 1.45761L15.8651 6.00308M15.8651 6.00308L11.1031 10.5485M15.8651 6.00308H6.5'
      
        stroke-width='2'
        stroke-linejoin='round'
      />
    </svg>
  </span>

  <div
    class='absolute left-full top-0 hidden w-80 flex-col border-l border-gray-100 py-8 font-medium leading-none text-blue-800 group-hover/sub-3:flex'
  >
    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Coca-Cola</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Ramune</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Warheads</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Y-Go Y-Go</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Fanta</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Dr Pepper</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Manga</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Calypso</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Capri-Sun</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Chupa-Chups</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Cristaline</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Pacha</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Mentos</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Bubble Tea</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Brain Licker</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Estathé</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Spirit of Sweden</a>

    <a
      href='category.html'
      class='block px-10 py-[5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Autres</a>
    <a
      href='category-1.html'
      class='mt-7.5 block inline-flex items-center gap-2.5 px-10 py-[5px] text-[14px] text-red-400 hover:text-blue-500'
    >
      <svg
        viewBox='0 0 11 10'
        fill='none'
        class='w-[11px] shrink-0 stroke-current'
        aria-hidden='true'
      >
        <path
          d='M4.43209 1.00305L8.5 5.00306M8.5 5.00306L4.43211 9.00305M8.5 5.00306H0.5'
          stroke-width='2'
          stroke-linejoin='round'
        />
      </svg>
      Voir toute la gamme
    </a>
  </div>
</div>