<div class='group/sub-2 w-full py-[7.5px] pr-10'>
  <span class='flex w-full justify-between'>
    <span class='transition duration-150 group-hover/sub-2:translate-x-2.5'>
      {{value}}
    </span>

    <svg viewBox='0 0 17 12' class='w-[17px] stroke-current' aria-hidden='true'>
      <path
        d='M11.103 1.45761L15.8651 6.00308M15.8651 6.00308L11.1031 10.5485M15.8651 6.00308H6.5'
      
        stroke-width='2'
        stroke-linejoin='round'
      />
    </svg>
  </span>

  <div
    class='absolute left-full top-0 hidden w-80 flex-col items-start justify-start border-r border-gray-100 py-8 font-medium leading-none text-blue-800 group-hover/sub-2:flex'
  >
    {{> components/nav/sub-submenu-item value="Soda"}}
    <a
      href='#'
      class='px-10 py-[7.5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >
      Energisants
    </a>
    <a
      href='#'
      class='px-10 py-[7.5px] transition duration-150 hover:translate-x-2.5 hover:text-red-400'
    >Mocktails
    </a>
    <a href='' class='mt-7.5 inline-flex items-center gap-2.5 px-10 text-red-400'>
      <svg
        viewBox='0 0 11 10'
        fill='none'
        class='w-[11px] shrink-0'
        aria-hidden='true'
      >
        <path
          d='M4.43209 1.00305L8.5 5.00306M8.5 5.00306L4.43211 9.00305M8.5 5.00306H0.5'
          stroke='#D01B56'
          stroke-width='2'
          stroke-linejoin='round'
        />
      </svg>
      Voir toute la gamme
    </a>
  </div>
</div>