body.menu-opened {
  height: 100dvh;
  overflow: hidden;
}

#nav-mobile {
  --transition: cubic-bezier(0.19, 1, 0.22, 1);
  --drawer-padding: 24px;
  @apply block xl:hidden max-md:pb-[60px];

}

.drawer {
  width: 100%;

  left: 0;
  height: 100vh;

  z-index: 55;

  display: flex;

  flex-direction: column;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;

  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  color: var(--color-blue-800);

  background: #fff;

  transform: translateX(-100%);
  transition: all 800ms var(--transition);
}

.menu--open {
  transform: translateX(0);
}

.menu-listitem {
  @apply relative flex flex-wrap border-t border-gray-500;
  &:not(.border-b-none):last-child {
    @apply border-b;
  }
}

.menu-listitem__text {
  @apply relative grow overflow-hidden text-ellipsis whitespace-nowrap px-[24px] md:px-[85px] font-medium py-5 text-lg leading-none no-underline;
}

.menu-listitem__text__large{
  @apply py-5;
}

.menu-listitem__btn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: var(--drawer-padding);
  width: 8px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999817 1L6.99998 7.00001L0.999845 13' stroke='%23D01B56' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu-listitem__btn__lang::after {
  right: inherit;
  margin-left: 15px;
}

.menu-panel-sub .menu-listitem__btn::after {
  width: 17px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.603 1.45454L15.3651 6.00001M15.3651 6.00001L10.6031 10.5455M15.3651 6.00001H6' stroke='%23D01B56' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu-listitem--prev {
  @apply bg-white;
}

.menu-btn--prev {
  display: block;
  position: relative;
}

.subitem {
  position: relative;
}

.menu-btn--prev::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* left: var(--drawer-padding); */
  width: 8px;
  height: 14px;
  background-size: 8px 14px;

  background-position: center;
  background-repeat: no-repeat;

  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00012 13L0.999955 6.99999L7.00009 1' stroke='%23D01B56' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  left: var(--drawer-padding);
}

.menu-panels {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.menu-panel {
  --menu-panel-child-offset: 100%;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;

  background: var(--color-gray-100);

  transform: translate3d(var(--menu-panel-child-offset), 0, 0);
  transition: transform 800ms var(--transition);
  transition-property: transform;

  padding-bottom: 80px;
}

.menu-panel--opened {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.menu-panel-sub {
  .menu-listitem__text {
    @apply pl-[52px] md:pl-[115px];
  }
}

@media (min-width: 480px) {
  .menu-listitem {
    padding-inline: calc((100vw - var(--wrapper-size)) / 2);
  }
}

@media (min-width: 768px) {
  #nav-mobile {
    --drawer-padding: 85px;
  }
}
