<div
  class="gap-3.75 group/grid grid md:grid-cols-2 xl:grid-cols-[repeat(2,480px)_300px] xl:grid-rows-[repeat(2,293px)]"
  data-variant="four"
>
  <div class="xl:row-span-2 xl:row-start-1">
    {{>components/ctas-home/cta-home class="cta-one bg-yellow-300"
    title="Nooooodles Time!" content="Découvrez les nouilles instantanées les
    plus piquantes au monde de la marque Daebak ! Retrouvez les saveurs
    authentiques coréennes avec ces nouilles moelleuses irrésistiblement
    piquantes." img="img/visuel.png" }}
  </div>

  <div class="xl:col-start-2 xl:row-span-1 xl:row-start-1">
    {{>components/ctas-home/cta-home class="cta-two bg-blue-300" title="Trop
    Cute " content="Fanta fruity, mandarine et pomme verte mais en version mini
    !  C'est pas trop mignon? " img="img/visuel-2.png" }}
  </div>

  <div class="xl:row-span-1 xl:row-start-2">
    {{>components/ctas-home/cta-home class="cta-three bg-red-300" title="Nouveau
    format !" content="Les délicieux bonbons Crunch Punch ultra croustillants
    débarquent désormais au format 100 gr." img="img/visuel-3.png" }}
  </div>

  <div class="xl:row-span-2">
    {{>components/ctas-home/cta-home class="cta-four bg-green-300"
    title="Tendance sur TikTok" content="Qui n'a pas vu passer sur TikTok ces
    incroyables chips au goût de saucisson au fuet? Un must que vos clients
    voudront tester de toute urgence !" img="img/visuel-4-large.png" imgClass="lg:mr-[40px]" }}
  </div>
</div>
