<!-- drawer input -->
<div class='mb-[25px] w-full'>
  <label
    class='mb-2.5 block font-medium leading-none text-blue-500'
    for='{{id}}'
  >
    {{label}}
  </label>

  <input
    id='{{id}}'
    class='py-3.25 w-full gap-2.5 rounded-md border border-gray-500 bg-white px-5 font-normal leading-none text-blue-500'
    placeholder='{{value}}'
  />
</div>