<div class='inline-flex w-full flex-col gap-2.5 md:flex-row md:items-center'>

  <label
    class='block whitespace-nowrap font-medium leading-none text-blue-500'
    for='{{id}}'
  >
    {{label}}
  </label>

  <div data-id='idd' class='select {{class}}'>
    <input id='idd' type='text' placeholder='{{placeholder}}' readonly />
    <ul class='options'>
      <li class='option'>Brabant wallon</li>
      <li class='option'>Hainaut</li>
      <li class='option'>Liège</li>
    </ul>
  </div>
</div>