<div class='mb-[25px] w-full'>

  <label class='block font-medium leading-none text-blue-500' for='{{id}}'>
    {{label}}
  </label>

  <div data-id='idd' class='select select-form mb-2.5'>
    <input id='idd' type='text' placeholder='Choisissez...' readonly />
    <ul class='options'>
      <li class='option'>Brabant wallon</li>
      <li class='option'>Hainaut</li>
      <li class='option'>Liège</li>
    </ul>
  </div>
</div>