@layer utility {
  .container {
    margin-inline: auto;
    padding-inline: 20px;

    @media (min-width: 992px) {
      padding-inline: 15px;
    }
  }

  .container-large {
    width: 100%;
    max-width: 1560px;
    margin-inline: auto;

    @media (min-width: 768px) {
      max-width: 728px;
    }
  }

  .breakout {
    position: relative;
    left: 50;
    right: 50%;

    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .breakout-right {
    position: relative;
    right: 50%;
    left: 0;

    width: 100vw;
    margin-right: -50vw;
  }
}
