<details class="group w-full pl-40 relative min-h-30" open>
  <summary class="w-full">
    <div class="w-full flex gap-10">
      <a
        class="absolute left-0 block overflow-hidden rounded-[200px]"
        href="author.html"
      >
        <img
          class="transition-all duration-300 hover:scale-110"
          src="https://placehold.co/120x120/jpg"
        />
      </a>
      <div class="flex-col justify-start items-start inline-flex">
        <a
          href="author.html"
          class="text-indigo-dark-200 text-[32px] font-medium leading-loose hover:underline"
        >
          Nils Røkke
        </a>
        <span
          class="text-indigo-dark-800 text-[11px] font-bold uppercase leading-none"
        >
          Vice-Chair - Academia and Research Organisation
        </span>
      </div>
      <span class="absolute top-0 right-0 cursor-pointer">
        <svg
          class="w-12.5 absolute transition-all duration-300 transition-discrete opacity-100 group-open:opacity-0 starting:block starting:group-open:hidden group-hover:scale-110"
          viewBox="0 0 50 51"
          fill="none"
        >
          <rect
            x="0.5"
            y="0.748962"
            width="49"
            height="49"
            rx="24.5"
            stroke="url(#paint0_linear_896_2022)"
          />
          <path
            d="M25.9303 17.249H23.404V20.7968C23.404 21.9952 23.6732 23.1783 24.1918 24.2587L24.4198 24.7336L24.0097 24.5368C22.9293 24.0182 21.7462 23.749 20.5479 23.749H17V26.2753H20.5479C21.7462 26.2753 22.9293 26.006 24.0097 25.4875L24.6371 25.1863L24.6672 25.249L24.1918 26.2393C23.6732 27.3196 23.404 28.5027 23.404 29.7011V33.249H25.9303V29.7011C25.9303 28.5027 25.6611 27.3196 25.1425 26.2393L24.6672 25.249L24.7152 25.1488L25 25.0121L25.9903 25.4875C27.0707 26.006 28.2538 26.2753 29.4521 26.2753H33V23.749H29.4521C28.2538 23.749 27.0707 24.0182 25.9903 24.5368L25 25.0121L24.8219 24.9266L25.1425 24.2587C25.6611 23.1783 25.9303 21.9952 25.9303 20.7968V17.249Z"
            fill="#191F4B"
          />
          <defs>
            <linearGradient
              id="paint0_linear_896_2022"
              x1="0"
              y1="25.6102"
              x2="50.3612"
              y2="25.6102"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#7277FF" stop-opacity="0.2" />
              <stop offset="1" stop-color="#7277FF" />
            </linearGradient>
          </defs>
        </svg>
        <svg
          class="w-12.5 transition-all duration-300 transition-discrete opacity-0 starting:hidden group-open:opacity-100 starting:group-open:block group-hover:scale-110"
          viewBox="0 0 50 51"
          fill="none"
        >
          <rect
            x="0.5"
            y="0.712646"
            width="49"
            height="49"
            rx="24.5"
            stroke="url(#paint0_linear_896_2011)"
          />
          <path
            d="M33 23.9495L33 26.4758L29.4521 26.4758C28.2538 26.4758 27.0707 26.2066 25.9903 25.688L25 25.2127L24.0097 25.688C22.9293 26.2066 21.7462 26.4758 20.5479 26.4758L17 26.4758L17 23.9495L20.5479 23.9495C21.7462 23.9495 22.9293 24.2187 24.0097 24.7373L25 25.2127L25.9903 24.7373C27.0707 24.2187 28.2538 23.9495 29.4521 23.9495L33 23.9495Z"
            fill="#191F4B"
          />
          <defs>
            <linearGradient
              id="paint0_linear_896_2011"
              x1="0"
              y1="25.5738"
              x2="50.3612"
              y2="25.5738"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#7277FF" stop-opacity="0.2" />
              <stop offset="1" stop-color="#7277FF" />
            </linearGradient>
          </defs>
        </svg>
      </span>
    </div>
  </summary>
  <p
    class="text-indigo-dark-200 text-xl font-normal leading-snug mt-6.25 max-w-[44ch]"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</details>

<details class="group w-full pl-40 relative min-h-30">
  <summary class="w-full">
    <div class="w-full flex gap-10">
      <a
        class="absolute left-0 block overflow-hidden rounded-[200px]"
        href="author.html"
      >
        <img
          class="transition-all duration-300 hover:scale-110"
          src="https://placehold.co/120x120/jpg"
        />
      </a>
      <div class="flex-col justify-start items-start inline-flex">
        <a
          href="author.html"
          class="text-indigo-dark-200 text-[32px] font-medium leading-loose hover:underline"
        >
          Nils Røkke
        </a>
        <span
          class="text-indigo-dark-800 text-[11px] font-bold uppercase leading-none"
        >
          Vice-Chair - Academia and Research Organisation
        </span>
      </div>
      <span class="absolute top-0 right-0 cursor-pointer size-12.5">
        <svg
          class="w-12.5 absolute transition-all duration-300 transition-discrete opacity-100 group-open:opacity-0 starting:block starting:group-open:hidden group-hover:scale-110"
          viewBox="0 0 50 51"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.5"
            y="0.748962"
            width="49"
            height="49"
            rx="24.5"
            stroke="url(#paint0_linear_963_9367)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M25.9303 17.249H23.404V20.7968C23.404 21.9952 23.6732 23.1783 24.1918 24.2587L24.4198 24.7336L24.0097 24.5368C22.9293 24.0182 21.7462 23.749 20.5479 23.749H17V26.2753H20.5479C21.7462 26.2753 22.9293 26.006 24.0097 25.4875L24.6371 25.1863L24.6672 25.249L24.1918 26.2393C23.6732 27.3196 23.404 28.5027 23.404 29.7011V33.249H25.9303V29.7011C25.9303 28.5027 25.6611 27.3196 25.1425 26.2393L24.6672 25.249L24.7152 25.1488L25 25.0121L25.9903 25.4875C27.0707 26.006 28.2538 26.2753 29.4521 26.2753H33V23.749H29.4521C28.2538 23.749 27.0707 24.0182 25.9903 24.5368L25 25.0121L24.8219 24.9266L25.1425 24.2587C25.6611 23.1783 25.9303 21.9952 25.9303 20.7968V17.249Z"
            fill="#191F4B"
          />
          <defs>
            <linearGradient
              id="paint0_linear_963_9367"
              x1="0"
              y1="25.6102"
              x2="50.3612"
              y2="25.6102"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#7277FF" stop-opacity="0.2" />
              <stop offset="1" stop-color="#7277FF" />
            </linearGradient>
          </defs>
        </svg>

        <svg
          class="w-12.5 transition-all duration-300 transition-discrete opacity-0 starting:hidden group-open:opacity-100 starting:group-open:block group-hover:scale-110"
          viewBox="0 0 50 51"
          fill="none"
        >
          <rect
            x="0.5"
            y="0.712646"
            width="49"
            height="49"
            rx="24.5"
            stroke="url(#paint0_linear_896_2011)"
          />
          <path
            d="M33 23.9495L33 26.4758L29.4521 26.4758C28.2538 26.4758 27.0707 26.2066 25.9903 25.688L25 25.2127L24.0097 25.688C22.9293 26.2066 21.7462 26.4758 20.5479 26.4758L17 26.4758L17 23.9495L20.5479 23.9495C21.7462 23.9495 22.9293 24.2187 24.0097 24.7373L25 25.2127L25.9903 24.7373C27.0707 24.2187 28.2538 23.9495 29.4521 23.9495L33 23.9495Z"
            fill="#191F4B"
          />
          <defs>
            <linearGradient
              id="paint0_linear_896_2011"
              x1="0"
              y1="25.5738"
              x2="50.3612"
              y2="25.5738"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#7277FF" stop-opacity="0.2" />
              <stop offset="1" stop-color="#7277FF" />
            </linearGradient>
          </defs>
        </svg>
      </span>
    </div>
  </summary>
  <p
    class="text-indigo-dark-200 text-xl font-normal leading-snug mt-6.25 max-w-[44ch]"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</details>
