<a
  href='#'
  class='p-1.25 group flex flex-col items-center justify-start gap-2.5 rounded-[400px] bg-gray-300 pb-5 transition duration-300 hover:translate-y-[-5px] lg:p-5'
>
  <img class='rounded-full' src='{{img}}' />

  <div class='h-[45px] place-content-center'>
    <h3
      class='px-1.25 text-center text-lg font-semibold leading-tight text-blue-500'
    >
      {{title}}
    </h3>

  </div>
  <span
    class='size-12 flex items-center justify-center rounded-[60px] bg-white text-red-400 transition-all duration-300 group-hover:bg-blue-800 group-hover:text-white'
  >
    <svg class='w-[10px] stroke-current' viewBox='0 0 10 12' fill='none'>
      <path
        d='M1 3.00305H9M9 3.00305V11.0031M9 3.00305L1 11.0031'
        stroke-width='2'
        stroke-linejoin='round'
      />
    </svg>
  </span>
</a>