<div class="gap-3.75 grid grid-cols-[repeat(2,1fr)_0.56fr]">
  <div
    class="p-7.5 relative row-span-2 flex flex-col items-start justify-start gap-5 overflow-hidden rounded-[20px] bg-yellow-300 pb-2.5"
  >
    <h2 class="text-[50px] font-semibold leading-[52px] text-blue-800">
      Nooooodles Time!
    </h2>
    <p class="text-lg font-normal leading-[1.33] text-blue-800">
      Découvrez les nouilles instantanées les plus piquantes au monde de la
      marque Daebak !<br />Retrouvez les saveurs authentiques coréennes avec ces
      nouilles moelleuses irrésistiblement piquantes.
    </p>
    <div class="span-rows-1 relative z-[1] flex items-start gap-5">
      <a href="#" class="btn-primary whitespace-nowrap">
        Commander
        <svg
          width="10"
          height="12"
          viewBox="0 0 10 12"
          fill="none"
          aria-hidden="true"
        >
          <path
            d="M1 3.00293H9M9 3.00293V11.0029M9 3.00293L1 11.0029"
            stroke="white"
            stroke-width="2"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
      <img class="" src="img/visuel.png" alt="" />
    </div>
    <div
      class="size-100 absolute -bottom-[90px] -right-[60px] z-[0] rounded-full border-8 border-white bg-white opacity-40"
    ></div>
  </div>

  <div
    class="p-7.5 relative row-span-1 overflow-hidden rounded-[20px] bg-red-300 pb-2.5"
  >
    <div class="relative z-[1] flex items-start gap-5">
      <div class="flex flex-col items-start justify-start gap-2.5">
        <h2
          class="whitespace-nowrap text-[32px] font-semibold leading-none text-blue-800"
        >
          Nouveau format !
        </h2>
        <p class="text-lg font-normal leading-[1.33] text-blue-800">
          Les délicieux bonbons Crunch Punch ultra croustillants débarquent
          désormais au format 100 gr.
        </p>
        <a href="#" class="btn-primary whitespace-nowrap">
          Commander
          <svg
            width="10"
            height="12"
            viewBox="0 0 10 12"
            fill="none"
            aria-hidden="true"
          >
            <path
              d="M1 3.00293H9M9 3.00293V11.0029M9 3.00293L1 11.0029"
              stroke="white"
              stroke-width="2"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>
      </div>
      <img src="img/visuel-3.png" alt="" />
    </div>
    <div
      class="size-80 absolute -bottom-[50px] -right-[60px] z-[0] rounded-full border-8 border-white bg-white opacity-40"
    ></div>
  </div>

  <div
    class="p-7.5 relative col-start-2 row-span-1 row-start-2 overflow-hidden rounded-[20px] bg-blue-300 pb-2.5"
  >
    <div class="relative z-[1] flex items-start gap-5">
      <div class="flex flex-col items-start justify-start gap-2.5">
        <h2
          class="whitespace-nowrap text-[32px] font-semibold leading-none text-blue-800"
        >
          Nouveau format !
        </h2>
        <p class="text-lg font-normal leading-[1.33] text-blue-800">
          Les délicieux bonbons Crunch Punch ultra croustillants débarquent
          désormais au format 100 gr.
        </p>
        <a href="#" class="btn-primary whitespace-nowrap">
          Commander
          <svg
            width="10"
            height="12"
            viewBox="0 0 10 12"
            fill="none"
            aria-hidden="true"
          >
            <path
              d="M1 3.00293H9M9 3.00293V11.0029M9 3.00293L1 11.0029"
              stroke="white"
              stroke-width="2"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>
      </div>
      <img src="img/visuel-3.png" alt="" />
    </div>
    <div
      class="size-80 absolute -bottom-[50px] -right-[60px] z-[0] rounded-full border-8 border-white bg-white opacity-40"
    ></div>
  </div>
  <div
    class="p-7.5 relative row-span-2 flex flex-col items-start justify-start gap-5 overflow-hidden rounded-[20px] bg-green-300 pb-2.5"
  >
    <h2 class="text-3xl font-semibold leading-[1.33] text-blue-800">
      Tendance sur TikTok
    </h2>
    <p class="text-lg font-normal leading-[1.33] text-blue-800">
      Qui n'a pas vu passer sur TikTok ces incroyables chips au goût de
      saucisson au fuet? Un must que vos clients voudront tester de toute
      urgence !
    </p>
    <div class="relative z-[1]">
      <a href="#" class="btn-primary whitespace-nowrap">
        Commander
        <svg
          width="10"
          height="12"
          viewBox="0 0 10 12"
          fill="none"
          aria-hidden="true"
        >
          <path
            d="M1 3.00293H9M9 3.00293V11.0029M9 3.00293L1 11.0029"
            stroke="white"
            stroke-width="2"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
    </div>
    <img class="relative z-[1]" src="img/visuel-4.png" alt="" />
    <div
      class="size-80 absolute -bottom-[90px] -right-[60px] z-[0] rounded-full border-8 border-white bg-white opacity-40"
    ></div>
  </div>
</div>
