<nav
  class="gap-1.25 flex flex-row flex-nowrap items-center justify-center"
  aria-label="Pagination"
>
  <!--<a
    class="size-[30px] flex items-center justify-center rounded border border-transparent bg-white text-red-400 transition duration-300 hover:bg-blue-500 hover:text-white"
    href="#"
    title="Prev Page"
  >
    <span class="sr-only">Prev Page</span>

    <svg
      viewBox="0 0 6 9"
      fill="none"
      aria-hidden="true"
      class="w-[6px] stroke-current"
    >
      <path
        d="M4 7.51514L1 4.51513L3.99999 1.51514"
        stroke-width="2"
        stroke-linecap="square"
        stroke-linejoin="round"
      />
    </svg>
  </a>-->
  <a
    class="size-[30px] aria-current:bg-red-400 aria-current:text-white aria-current:border-red-400 flex items-center justify-center rounded border border-gray-300 bg-transparent text-xs font-medium transition-colors duration-300 hover:border-blue-500 hover:bg-blue-500 hover:text-white"
    href="#"
    title="Page 1"
    aria-current="true"
  >
    1
  </a>
  <a
    class="size-[30px] aria-current:bg-red-400 aria-current:text-white aria-current:border-red-400 flex items-center justify-center rounded border border-gray-300 bg-transparent text-xs font-medium transition-colors duration-300 hover:border-blue-500 hover:bg-blue-500 hover:text-white"
    href="#"
    title="Page 2"
    aria-current="false"
  >
    2
  </a>

  <a
    class="size-[30px] flex items-center justify-center rounded border border-transparent bg-white text-red-400 transition duration-300 hover:bg-blue-500 hover:text-white"
    href="#"
    title="Next Page"
  >
    <span class="sr-only">Next Page</span>

    <svg
      viewBox="0 0 6 10"
      fill="none"
      aria-hidden="true"
      class="w-[6px] stroke-current"
    >
      <path
        d="M2 2.00305L5 5.00306L2.00001 8.00305"
        stroke-width="2"
        stroke-linecap="square"
        stroke-linejoin="round"
      />
    </svg>
  </a>
</nav>
