<div class="mt-15">
  <nav
    class="flex flex-row flex-nowrap justify-between md:justify-center items-center gap-6"
    aria-label="Pagination"
  >
    <!-- Previous Page Button -->
    <a
      class="flex w-13.5 h-13.5 transition-colors duration-300 justify-center items-center rounded-full bg-transparent text-midnight-400 text-xl hover:bg-indigo-200 aria-current:bg-indigo-200"
      href="#"
      title="Previous Page"
    >
      <span class="sr-only">Previous Page</span>

      <svg class="block w-3.75" viewBox="0 0 15 16" fill="currentColor">
        <path
          d="M1.0109 7.99999L1.74321 8.16066C2.67648 8.36544 3.53154 8.83333 4.20717 9.50895L8.59935 13.9011L7.40625 15.0942L0.311998 7.99999L7.40625 0.905735L8.59935 2.09884L4.20717 6.49102C3.53154 7.16664 2.67648 7.63454 1.74321 7.83931L1.0109 7.99999Z"
        />
      </svg>
    </a>
    <!-- Page Buttons (1 to 5) -->
    <a
      class="flex w-13.5 h-13.5 transition-colors duration-300 justify-center items-center rounded-full bg-transparent text-midnight-400 text-xl hover:bg-indigo-200 aria-current:bg-indigo-200"
      href="#"
      title="Page 1"
      aria-current="true"
    >
      1
    </a>
    <a
      class="flex w-13.5 h-13.5 transition-colors duration-300 justify-center items-center rounded-full bg-transparent text-midnight-400 text-xl hover:bg-indigo-200 aria-current:bg-indigo-200"
      href="#"
      title="Page 2"
      aria-current="false"
    >
      2
    </a>
    <span>...</span>

    <a
      class="flex w-13.5 h-13.5 transition-colors duration-300 justify-center items-center rounded-full bg-transparent text-midnight-400 text-xl hover:bg-indigo-200 aria-current:bg-indigo-200"
      href="#"
      title="Page 6"
    >
      6
    </a>
    <!-- Next Page Button -->
    <a
      class="flex w-13.5 h-13.5 transition-colors duration-300 justify-center items-center rounded-full bg-transparent text-midnight-400 text-xl hover:bg-indigo-200 aria-current:bg-indigo-200"
      href="#"
      title="Next Page"
    >
      <span class="sr-only">Next Page</span>

      <svg class="block w-3.75" viewBox="0 0 15 16" fill="currentColor">
        <path
          d="M13.9891 7.99999L13.2568 8.16066C12.3235 8.36544 11.4685 8.83333 10.7928 9.50895L6.40065 13.9011L7.59375 15.0942L14.688 7.99999L7.59375 0.905735L6.40065 2.09884L10.7928 6.49102C11.4685 7.16664 12.3235 7.63454 13.2568 7.83931L13.9891 7.99999Z"
        />
      </svg>
    </a>
  </nav>
</div>
