<article
  class="swiper-slide group article-item shadow-general rounded-md overflow-hidden relative pb-40"
>
  <div class="">
    <header>
      <a href=""><img src="img/post.jpg" /></a>
    </header>
    <div
      class="h-[250px] flex flex-col absolute bottom-0 p-7 bg-white group-hover:bg-article translate-y-22 group-hover:translate-y-0 transition duration-300"
    >
      <div class="flex justify-between items-end mb-6">
        <div class="gap-2.5 flex">
          <a
            class="px-2 py-1 bg-pink-400 rounded border border-pink-400 text-white text-[10px] font-medium leading-[15px]"
          >
            Publication
          </a>

          <a
            class="px-2 py-1 rounded border border-midnight-400 text-midnight-400 text-[10px] font-medium leading-[15px] group-hover:text-white group-hover:border-white"
          >
            Technology
          </a>
        </div>
        <span
          class="text-pink-400 text-[11px] font-bold uppercase leading-none group-hover:text-white"
        >
          Sept 14
        </span>
      </div>
      <h3
        class="title-3 text-midnight-400 transition-colors duration-300 group-hover:text-white"
      >
        Understanding Carbon Capture Technologies
      </h3>

      <p
        class="text-white transition duration-300 delay-75 leading-tight translate-y-5 group-hover:translate-y-0 opacity-0 group-hover:opacity-100"
      >
        Innovative approaches to enhance the efficiency of Direct Air Capture
        technologies.
      </p>

      <div
        class="mt-auto translate-y-5 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition duration-300 delay-150"
      >
        <a
          class="flex justify-between items-center w-full text-indigo-600 group/link"
          href=""
        >
          Read More
          <svg
            class="w-3 transition duration-300 group-hover/link:rotate-90 group-hover/link:scale-150"
            viewBox="0 0 12 12"
            fill="none"
          >
            <path
              d="M6.94765 0H5.05291V2.20575C5.05291 3.40414 5.32215 4.58722 5.84073 5.6676L6.00018 5.99979L6 5.99988L5.6676 5.84033C4.58722 5.32175 3.40414 5.05251 2.20575 5.05251H0V6.94725H2.20575C3.40414 6.94725 4.58722 6.67801 5.6676 6.15943L6 5.99988L6.00027 6.00001L5.84073 6.3324C5.32215 7.41278 5.05291 8.59586 5.05291 9.79425V12H6.94765V9.79425C6.94765 8.59586 6.67841 7.41278 6.15983 6.3324L6.00029 6.00002L6.3324 6.15943C7.41278 6.67801 8.59586 6.94725 9.79425 6.94725H12V5.05251H9.79425C8.59586 5.05251 7.41278 5.32175 6.3324 5.84033L6.00044 5.99967L6.15983 5.6676C6.67841 4.58722 6.94765 3.40414 6.94765 2.20575V0Z"
              fill="#AAADFF"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</article>
