<div class='bg-white'>
  <img src='https://placehold.co/600x600/jpg?text={{text}}' alt='' />

  <p
    class='mt-5 text-center text-base font-normal leading-snug text-blue-500'
  >Long Chips Thaï Sweet Chilli</p>
</div>