<div class='bg-white flex flex-col items-center justify-center'>
  <img src='img/products/{{text}}.png' alt='' />

  <p
    class='mt-5 text-center text-base font-normal leading-snug text-blue-500'
  >Long Chips Thaï Sweet Chilli</p>
</div>