<div class='relative grid aspect-square place-items-center py-5'>
  <span
    class='h-6.5 absolute left-5 top-5 block flex items-center justify-center rounded-[40px] bg-purple-400 px-2.5 py-[5px] font-bold leading-none text-white'
  >
    x20
  </span>
  <span
    class='h-6.5 absolute right-5 top-5 block flex items-center justify-center rounded-[40px] bg-orange-400 px-2.5 py-[5px] text-xs font-bold uppercase leading-none text-white'
  >
    New
  </span>
  <img
    class='mx-auto'
    src='/img/products/{{text}}.png'
    alt=''
  />

</div>