<div class='flex gap-10 items-center'>
  <span class='text-[11px] font-bold uppercase leading-none'>
    Share :
  </span>
  <div class='inline-flex items-center justify-start gap-6'>
    <button data-social='linkedin' class='share-btn text-indigo-dark-800'>
      <svg class='w-[22px]' viewBox='0 0 22 21'>
        <path
          d='M0 2.43386C0 1.72838 0.247755 1.14637 0.743243 0.68783C1.23873 0.22927 1.88289 0 2.67568 0C3.45432 0 4.08429 0.225735 4.56564 0.677248C5.06113 1.14286 5.30888 1.74954 5.30888 2.49735C5.30888 3.1746 5.06822 3.73896 4.58687 4.19047C4.09138 4.65608 3.44015 4.88889 2.6332 4.88889H2.61197C1.83333 4.88889 1.20335 4.65608 0.722008 4.19047C0.240662 3.72487 0 3.13932 0 2.43386ZM0.276062 20.9524V6.81481H4.99035V20.9524H0.276062ZM7.60232 20.9524H12.3166V13.0582C12.3166 12.5644 12.3732 12.1834 12.4865 11.9153C12.6847 11.4356 12.9855 11.03 13.389 10.6984C13.7925 10.3668 14.2986 10.2011 14.9073 10.2011C16.4929 10.2011 17.2857 11.2663 17.2857 13.3968V20.9524H22V12.8466C22 10.7584 21.5045 9.1746 20.5135 8.09523C19.5225 7.01587 18.213 6.47619 16.5849 6.47619C14.7587 6.47619 13.3359 7.25925 12.3166 8.82539V8.86772H12.2954L12.3166 8.82539V6.81481H7.60232C7.63062 7.2663 7.64479 8.67017 7.64479 11.0264C7.64479 13.3827 7.63062 16.6913 7.60232 20.9524Z'
          fill='currentColor'
        />
      </svg>

      <span class='sr-only'>LinkedIn</span>
    </button>

    <button data-social='facebook' class='share-btn text-indigo-dark-800'>
      <svg class='w-[19px]' viewBox='0 0 20 18' fill='none'>
        <path
          d='M0.380052 0.40863L7.84442 9.88724L0.333008 17.5938H2.02366L8.60004 10.8464L13.9134 17.5938H19.6663L11.7818 7.58214L18.7735 0.40863H17.0828L11.0265 6.62263L6.13301 0.40863H0.380052ZM2.86623 1.59122H5.50911L17.1798 16.4112H14.537L2.86623 1.59122Z'
          fill='currentColor'
        ></path>
      </svg>
      <span class='sr-only'>X</span>
    </button>

    <a href='#' class='share-btn text-indigo-dark-800'>
      <svg class='w-[20px]' viewBox='0 0 20 16'>
        <path
          d='M18.7464 0.504583C18.8316 0.495543 18.9175 0.495543 19.0027 0.504583L9.94643 9.8184L0.915179 0.556076C1.02285 0.523683 1.13427 0.506363 1.24643 0.504583H18.7464ZM19.925 1.39903L10.825 10.7322C10.5908 10.9719 10.274 11.1065 9.94375 11.1065C9.61352 11.1065 9.2967 10.9719 9.0625 10.7322L0.04375 1.46983C0.0160246 1.57478 0.00132418 1.68292 0 1.79167V14.6649C0 15.0064 0.131696 15.3338 0.366117 15.5752C0.600537 15.8166 0.918479 15.9523 1.25 15.9523H18.75C19.0815 15.9523 19.3995 15.8166 19.6339 15.5752C19.8683 15.3338 20 15.0064 20 14.6649V1.79167C19.995 1.65756 19.9697 1.52508 19.925 1.39903Z'
          fill='currentColor'
        />
      </svg>

      <span class='sr-only'>Facebook</span>
    </a>
  </div>
</div>